a{ text-decoration: underline; cursor: pointer;}

/*ERRORS*/
.errors:empty{ height: 0; width: 0; opacity: 0; overflow: hidden;}
div.error{opacity:  0;max-height:  0;overflow: hidden;animation: errorAnimation 4.0s}
div.error:before{content: "X"; color:rgba(255,255,255,1); background:rgba(255,128,0,1); border-radius: 100%; display: inline-block; width: 1.5em; line-height: 1.5em; text-align: center; overflow: hidden; vertical-align: middle; margin-right: 0.2em}
div.errors{ border: 1px solid rgba(255,128,0,1); font-size: 0.8em; padding: 0.2em 0.4em; opacity:  0; animation: errorAnimation 4.0s}
div.errors .error{opacity:  1;max-height:none;animation: none}
div.errors .error:before{content: "-"; }

@keyframes errorAnimation {
  0% {opacity:  1;max-height:  100em;}
  75% {opacity:  1;}
  99% {opacity:  0;max-height:  100em;}
  100% {max-height:  0;}
}

/*SUCCESS*/
div.success{ background-color: rgba(0,255,0,1)}

/*FORMS*/
input.notValid,textarea.notValid,select.notValid{ border: 1px solid rgba(255,128,0,1)}
.notValid>input,.notValid>textarea,.notValid>select{ border: 1px solid rgba(255,128,0,1)}
label.notValid>strong{ background-color: rgba(255,128,0,0.5)}

/*BUTTONS*/
.button{ color: rgba(0,0,0,0.8);cursor: pointer; font-size: 1em; text-decoration: none; display: inline-block; border-radius: 3px; box-shadow: inset 0 0 1px rgba(0,0,0,0.5); padding: 0.3em 0.5em;border: none; background-color:rgba(255,255,255,1);}
.button.error{animation: bgError 4.0s}
.button.success{animation: bgSuccess 4.0s}
.button.waiting{
  cursor: wait;
  animation: bgWaiting 1.0s infinite;
  animation-timing-function: linear;
  background-position: 0 27px;
  background-image: repeating-linear-gradient(45deg,rgba(255,255,255,0.1),rgba(255,255,255,0.1) 10px,rgba(0,0,0,0.1) 10px, rgba(0,0,0,0.1) 20px);
}
@keyframes bgWaiting {
  0% {background-position: 0 27px;}
  100% {background-position: 0 0px}
}
@keyframes bgError {
  0% {background-color:  rgba(255,128,0,1);}
  75% {background-color:  rgba(255,128,0,1);}
  100% {background-color: rgba(255,255,255,1)}
}
@keyframes bgSuccess {
  0% {background-color:  rgba(0,255,0,1);}
  75% {background-color:  rgba(0,255,0,1);}
  100% {background-color: rgba(255,255,255,1)}
}

/*TRANSITIONS*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
